/* side bar */
#sidebar-nav{
  height:100vh;
  position:absolute;
  width:250px;
  margin-left: 0px;
  padding:3em 0 3em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  z-index: 2000;
  opacity:0.97;
}

#sidebar-header{
  padding:1em;
  flex-basis: 10%;
}
.sidebar-menu{
  width: 100%;
}
.sidebar-menu > div > ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  margin:0;
  padding: 3em 0 3em 0;
  width:100%;
  align-items: center;
  text-align: left;
  position: absolute;
}

.sidebar-menu > div > ul >li{
  width:100%;
  display: block;
}
.sidebar-menu > div > ul >li>a{
  color: #98878f;
  display: block;
  width: 100%;
  text-align: left;
  background-color: #000000;
  text-transform: uppercase;
}
.sidebar-menu > div > ul >li>a:hover{
  background-color: #98536d;
  text-decoration: none;
  color:#000000;
}


//sidebar transitions

.side-nav-collapse{
  color:#cc0000;
  position:absolute;
  right:-0.8em;
  top: 50%;
  z-index:-1;
}

.collapsed{
  width:60px !important;
}

.nav-link{
  overflow: hidden;
  white-space: nowrap;  
  text-overflow: "";
  i{
    display:inline-block;
    padding:0.3em 0 0.3em 0;
    text-align:center;
    margin: auto;
    width:1em;
  }
  span{
    margin-left:0.5em;
  }
}

//widget

.cust-widget{
  z-index:2000;
}

//bottom header social/container
.shb-widget{
  display:block;
  position:absolute;
  bottom:0;
  div{
    display:flex;
    flex-wrap:wrap;
  a{
    padding:0.8em;
    color:#cc0000;
    :hover{
      color:#98878f;
    }
  }
  
  }
}







// Some basic padding for all wrappers
.wrapper {
  padding: $grid-gutter-width 0; }

// Reset hero wrapper padding to 0
#wrapper-hero { padding: 0px !important; }

// Adding basic WordPress classes to pass the WordPress.org tests
.sticky,
.gallery-caption,
.bypostauthor {
  font-size: inherit;
}

// Separate sticky wrapper from main content
.wrapper#wrapper-sticky { border-bottom: 1px solid $gray-300; }

// Adding some contrast background color to footer full widget
#wrapper-footer-full,
#wrapper-static-hero { background-color: $gray-200; }

// Necessary WP classes
.wp-caption { font-size: inherit; }

.wp-caption-text { font-size: inherit; }

.screen-reader-text { @extend .sr-only; }

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter { @extend .mx-auto; }

// Post design
.entry-footer span { padding-right: 10px; }

// Limit featured image size to 100%
img.wp-post-image,
article img,
figure,
img,
#secondary img {
  max-width: 100%;
  height: auto;
}

// Skip to content link
a.skip-link {
  position: fixed;
  z-index: 1000;
  top: 0px;
  right: 0px;
}

// Reset Jumbotron default margin
.jumbotron { margin-bottom: 0px; }

// Dropdown translation
.navbar-dark .navbar-nav .dropdown-menu .nav-link{
  display: block;
  width: 100%; // For `<button>`s
  padding: $dropdown-item-padding-y $dropdown-item-padding-x;
  clear: both;
  font-weight: $font-weight-normal;
  color: $dropdown-link-color !important;
  text-align: inherit; // For `<button>`s
  white-space: nowrap; // prevent links from randomly breaking onto new lines
  background: none; // For `<button>`s
  border: 0; // For `<button>`s

  @include hover-focus {
    color: $dropdown-link-hover-color !important;
    text-decoration: none;
    background-color: $dropdown-link-hover-bg;
  }

  &.active,
  &:active {
    color: $dropdown-link-active-color !important;
    text-decoration: none;
    background-color: $dropdown-link-active-bg;
  }

  &.disabled,
  &:disabled {
    color: $dropdown-link-disabled-color !important;
    background-color: transparent;
    // Remove CSS gradients if they're enabled
    @if $enable-gradients {
      background-image: none;
    }
  }
}

.navbar-light .navbar-brand a {
     color: $navbar-light-active-color;

    @include hover-focus {
      color: $navbar-light-active-color;
    }
}

.navbar-dark .navbar-brand a {
    color: $navbar-dark-active-color;

    @include hover-focus {
      color: $navbar-dark-active-color;
    }
}

.navbar h1 { font-weight: $font-weight-normal; }
